/* Estilos de toda la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 1rem; /* Tamaño base de 1rem (16px por defecto) */
}

/* Estilos del encabezado */
header {
    background-image: url('Imagen_Encabezado.jpg'); /* Ruta de la imagen */
    background-size: cover; 
    background-position: center; 
    color: white; 
    text-align: center;
    padding: 2rem 0; 
}

header h1 {
    margin: 0;
    font-size: 2,5rem; /* Tamaño del título en el encabezado */
}

/* Estilos para las secciones principales */
main {
    padding: 1.25rem; /* Padding ajustado en rem */
}

section {
    margin-bottom: 1.875rem; /* Márgen inferior usando rem */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f0f0f0;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5rem; /* Padding en rem para mayor adaptabilidad */
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 1.125rem; /* Tamaño de texto relativo */
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 0.625rem; /* Márgen superior ajustado en rem */
}

input[type="text"], input[type="email"], input[type="tel"] {
    padding: 0.3125rem; /* Padding ajustado en rem */
    margin-bottom: 0.625rem; /* Márgen inferior en rem */
    width: 100%;
    max-width: 18.75rem; /* Ancho máximo en rem */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.625rem; /* Padding en rem */
    border: none;
    cursor: pointer;
    width: 6.25rem; /* Ancho del botón ajustado en rem */
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para la imagen */
img {
    border-radius: 5%;
    width: 12.5rem; /* Ancho de la imagen ajustado a rem */
    height: 12.5rem; /* Alto de la imagen ajustado a rem */
}

/* Estilos del pie de página */
footer {
    text-align: center;
    padding: 0.3125rem; /* Padding ajustado en rem */
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0.875rem; /* Tamaño de fuente ajustado (aproximadamente 14px) */
}
